@import '~ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
body{
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* You can add global styles to this file, and also import other style files */
input.ng-touched.ng-invalid{
  border-color: #dc3545;
}
input.ng-valid {
  border-color: #28a745;
}
.green-icon {
  color: #28a745;
}
.red-icon{
  color: #dc3545;
}
